.input {
	background-color: var(--gray-color);
	border-radius: 8px;
	border: 1px solid transparent;
	color: #808185;
	font-size: 14px;
	font-weight: 400;
	padding: 16px;
	line-height: 1.17;
	outline: none;
	width: 100%;
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.invalid {
	border: 1px solid #FF6161;
}

.input ~ span {
	display: none;
}

.invalid ~ span {
	display: block;
	color: #FF6161;
	font-size: 10px;
	position: absolute;
	bottom: -15px;
}